body {
    font-family: Arial, sans-serif;
}
.navbar-brand.active {
    font-weight: bold;
}
.container {
    padding: 20px;
}
.card {
    margin-bottom: 20px;
}
.card-body {
    background-color: #b1e09a ;
    border-radius: 10px;
}
.card-title {
    font-weight: bold;
}
img {
    margin-bottom: 20px;
}
